.netflix__logo{
    width: 10%;
}
  
.netflix__header_container {
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background: black;
    overflow: hidden;
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../assets/background.jpg");
}

.shadow_box{
    box-shadow: 3px 2px 22px 6px rgba(47, 47, 47, 0.473);
    border-radius: 25px;
    backdrop-filter: blur(8px); /* Chrome and Opera */
}

.shadow_box:hover{
    box-shadow: 3px 2px 22px 6px rgba(128, 0, 0, 0.473);
}

@media screen and (max-width:480px) {
    .netflix__logo{
        width: 50%;
    }
    .netflix__content{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width:1024px) {
    .netflix__logo{
        width: 30%;
    }
    .netflix__content{
        padding-left: 2rem;
        padding-right: 2rem;
    }
}